.general {
    margin: 0;
    background-color: #F5F5F5;
    font-family: 'PT Sans', sans-serif;
}

.header {
    height: 90px;
    background-color: #202846;
    width: 100%;
    }


.content {
    display: flex;
    justify-content: space-between;
    height: inherit;
    margin: 0 auto;
    width: 90%;
    align-items: center;
}
.head-icon {
    width: 178.45px;
    height: 70px;
    text-align: left;
}

.head-menu {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    list-style: none;
    width: 110%;
    margin-left: 70px;

}

.head-lang {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    list-style: none;
    width: 50%;
    margin-right: 0px;
    margin-left: 100px;

}
a {
    text-decoration: none;
    color: #ffffff;
}

.booking {
    width: 100%;
    height: 140px;
    background-color: #C6C6DC;
    margin: 0;

}

.booking p {
    font-size: 48px;
    font-weight: 400;
    font-style: italic;
    padding-top: 50px;
    margin: 0;
    margin-left: 216px;
    margin-right: 216px;
    
}

.place {
    background-color: #E8E8E8;
    height: 73px;
    width: 85%;
    margin: 56px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place div {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.choose-icon {
    width: 34px;
    height: 27px;
    position: absolute;
    margin-left: 1000px;
}

.topLink {
    position: fixed;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(80, 77, 77, 0,4);
    margin-left: 1750px;
    margin-top: 180px;
    position: absolute;
}

.card {
    background-color: #BDBDC6;
    min-height: 300px;
    width: 85%;
    margin: 56px auto;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    position: relative;
}

.card:hover {
    background-color: #AEAEE2;
    min-height: 310px;
    }

.card > div:last-child {
    width: 60%;
    min-height: 270px;
    margin: 44px 85px 39px 86px;
}

.card-description {
    display: flex;
    align-items: stretch;

}

.card-img {
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 3%;
    margin-left: 3%;
}

.card-img img {
    padding: 1rem;
}

.card-text {
    width: 40%;
}

.place-name {
    width: 100%;
    border: solid;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #353C57;
    border: none;
    border-bottom: 2px solid white;
}

.place-description {
    width: 100%;
    min-height: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #202846;
    border: none;
    background-color: #D7D7DD; 
    margin-bottom: 1rem;
    }

.star {
    position: absolute;
    top: 0.5%;
    right: 0.5%;
}

div path:hover {
    fill: yellow;
}

.button {
    position: absolute;
    bottom: -10px;
    right: -40px;
    width: 150px;
    height: 35px;
    background-color: #202846;
    color: white;
    font-size: 1rem;
    border-radius: 40px/40px;
    border: 0;
}

.button:hover {
background-color: #EF075B;}

.privat {
    width: 100%;
    height: 150px;
    background-color: #C6C6DC;
    margin: 0;
    margin-top: 100px;
}

.privat p {
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    padding-top: 50px;
    margin: 0;
    margin-left: 216px;
    margin-right: 216px;
    
}

.privat-card-info {
    width: 1000px;
    background-color: #BDBDC6;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin: 56px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.list {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.list li {
    width: 188px;
    height: 27px;
    background-color: #69749B;
    border: none;
    border-radius: 30px;
    position: relative;
    margin-top: 12px;
    margin-bottom: 13px;
    transition: all 0.2s linear;
    font-size: 19px;
    text-align: center;
    padding: 5px;

}

.list > div:nth-child(1) {
    width: 30%;
    height: 270px;
    margin: 0px 0px 0px 0px;
    transition: all 0,3s;
}


.list > div:last-child {
    width: 30%;
    height: 270px;
    margin: 100px 0px 0px 0px;
}

.contacts {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 490px;
    height: 27px;
    border: none;
    border-bottom: 1px solid white;
    position: relative;
    margin-top: 12px;
    margin-bottom: 13px;
    margin-left: 30px;
    font-size: 24px;
    text-align: left;
    padding: 5px;
    color: #353C57;
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.button-exit {
    width: 178px;
    height: 49px;
    background-color: #202846;
    border: none;
    border-radius: 30px;
    position: absolute;
    margin-top: 391px;
    margin-left: 0px;
    transition: all 0.2s linear;
    font-size: 20px;
}


.button-exit:hover {
background-color: #EF075B;}

.adresses {
    display: block;
}

.upper-adresses {
    width: 1000px;
    display: flex;
    margin: 0 auto;
}

.contact-detailed {
    height: 168px;
    width: 500px;
    margin-right: 125px;
    margin-top: 64px;
}

.contact-detailed p {
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
}

.contact-detailed .text {
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    margin-top: 10px;
    border: none;
}

.lower-adresses {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

iframe {
    height: 168px;
    width: 380px;
    margin-top: 40px;
    margin-left: 154px;
}

footer {
    width: 100%;
    height: 90px;
    background-color: #202846;
}

footer p {
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    font-style: italic;
    color: white;
    margin-left: 116px;
    padding-top: 21px;
}