body {
    background-color: #ffffff;
    padding: 0px 30px;
}

.general {
    max-width: 1460px;
    margin: 0 auto;    
}

h1 {
    text-align: center;
    font-size: 48px;
    color: #000000;
    font-family: Inter;
    line-height: 135,02%;
}

h4 {
    text-align: center;
    font-size: 48px;
    font-family: Inter;
    line-height: 135,02%;
}

.hlight-blue {
    color: #0BBBD3;
}

.hdurk-blue {
    color: #28CDE3;
}

.sobor {
    width: 1440px;
    height: 852px;
    background-image: url(../img/Успенський\ собор\ 1.jpg);
    background-size: contain;
}

.main-text {
    width: 715px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 25.5%;
    padding: 225px 0px 303px 163px;
    line-height: 167.02%;
    color: #FFFFFF;
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
    background-position:top 198px left 80px;
}

.places-title {
    max-width: 333px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    line-height: 100.02%;
    color: #000000;
    border-bottom:  5px solid #33B8F1;
    margin: 30px 0px 120px 46px;

}

.places-all {
    display: flex;
    justify-content: space-around;
    padding-left: 5px;
   }

.place-item {
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    line-height: 10.02%;
    color: #030303;
    flex-direction: column;
    width: 399px;
}

.place-item-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 167.02%;
    color: #595050;
        
}

.heart-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    line-height: 167.02%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border-bottom:  5px solid #33B8F1;
    margin: 73px 486px 80px 486px;

}

.img-heart {
        text-align: center;
}

.botton {
    background: #33ADF1; 
    border:3px;
    padding: 5px 0 5px 15px; 
    margin:0px 528px 100px 528px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    line-height: 167.02%;
    color: #FFFFFF;
    }

.botton a {
    text-decoration: none;
    color: #ffffff;
}

.footer {
    width: 100%;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,0.1);
    background: #0A2DA9;
    ;
}

.hwhite {
    color: #ffffff;
}

.link {
    text-align: center;
    font-size: 32px;
    color: #353949;
    ;
}

.link a {
    text-align: center;
    font-size: 32px;
    color: #353949;
    ;
}

.links-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    padding: 0px 0px 0px 0px;
   
   }

.links-img-item {
   background: #0931BF;
   border-radius: 100%;
   padding: 10px;
   margin-left: 60px;
    
}