@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');

html {
    --font-public-sans: 'Public Sans', sans-serif;
    --black: #171717;
    --red: #D83933;
    --blue: #0050D8;
    --pink: #FF00FF;

}

body {
    margin: 0;
    padding: 0;    
}

input, select {
    width: 100%;
    padding: 0.5em 0em 0.5em 0.3em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.conteiner {
    width: 60%;
    margin: 0 auto;
    background-color: #E5E5E5;
    padding: 5rem 5rem 5rem 5rem;
    font-family: var(--font-public-sans);
}

.red-text {
    color: var(--red);
}

.blue-text {
    color: var(--blue);
}

.title-head {
    font-weight: 700;
    margin-bottom: 7rem;
}

.title-text {
    font-weight: 400;
    margin-bottom: 5rem;
    font-size: 1.1rem;
}

.block-head {
    font-weight: 700;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.blocks {
    display: flex;
    justify-content: space-between;
}

.blocks-left {
    width: 50%;
    padding-right: 1.5rem;
}

.blocks-right {
    width: 50%;
}

.forms {
    margin-bottom: 1rem;
}

.form-title {
    font-weight: 500;
    font-size: 1.1em;
    line-height: 140%;
    margin-top: 2rem;
   
}

.form-text {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 140%;
}


.checkbox-text {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 0.5rem;
}

.checkbox {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.5rem;
    accent-color: var(--pink);
}

.checkbox-text label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 140%;
}

.padding-bottom {
    padding-bottom: 8.4rem;
}

.padding-top {
    padding-top: 1.6rem;
}

.head-line {
    padding-top: 2.5rem;
    border: none;
    border-top: 1px solid #D1D1D1;
}


button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
  }
  
.search {
    display: flex;
    justify-content: space-between;
    margin: -0.1em;
    padding-left: 0.1em;
}
 
.button-next {
    display: flex;
    justify-content: right;
   

}

.btn {
    background-color: #0050D8;
    font-size: 1.2rem;
    color: #FFFFFF;
    padding: 1rem;
    border-radius: 4px;
}

a {
    text-decoration: none;
}