@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');

:root {
    --font-Montserrat: 'Montserrat', sans-serif;
}
body {
    margin: 0 auto;
    font-family: var(--font-Montserrat);
    background-color: #ECECEC
}

header {
    background-color: white;
}

.header-main, .card-main {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.header-logo {
    display: flex;
    align-items: center;

}

.topbutton {
    width:100px;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    }

.padding-left {
    padding-left: 5rem;
}

.form-border {
    border: 2px solid black;
    border-radius: 0.375rem;
    margin-right: 12rem;
}

.form-img {
    width: 8%;
    padding: 0.4rem 0.5rem;
}

.form-text {
    width: 90%;
    padding-right: 30px;
}

.form-place {
    border: none;
}

.height {
    min-height: 100px;
}


.btn-enter {
    background: #EF781A;
    box-shadow: 0px 0px 3px #EF781A;
    border-radius: 5px;
    border-color: #EF781A;
}

.btn-basket {
    background: #00D008;
    box-shadow: 0px 0px 3px #00D008;
    border-radius: 5px;
    border-color: #00D008;
}

.header-mac {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-top: 2rem;
    background-color: white;
}

.header-text-mac {
    font-weight: 800;
    font-size: 3rem;
    line-height: 4rem;
    margin-left: 11rem;
}

.container-main {
    width: 100%;
    margin: 0 auto;
    background-color: #ECECEC;
}

.card-main-left {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.card-main-right {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    height: 30%;
    margin-top: 1rem;

}

.grey {
    background-color: #ECECEC
}

.second-nav {
    flex-direction: column;
    flex-wrap: nowrap;
}

.card-nav-list {
    font-size: 1rem;
    line-height: 2rem;
    color: #7B7B7B;
}

.margin-nav {
    padding-bottom: 0rem;
}

.no-padding {
    padding: 0;
}

ul.card-nav-list li {
    line-height: 1;
}


ul.card-nav-list li:hover {
    background: #C4C4C4;
    border-radius: 5px;
    border-color: #C4C4C4;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin: 2rem 0;
}

.menu-special-offer {
    display: flex;
    flex-wrap: wrap;
}

.card-item {
    width: 30%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    margin: 0.5rem;
}

.card-bottom {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.padding-top {
    padding-top: 1rem;
}

h3, .price {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.price {
    margin-right: 30%;
}

.card-body p {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #A2A2A2;
    padding-bottom: 2rem;
}

.basket {
    position: absolute;
    height: 0;
    width: 50%;
    bottom: 5%;
    left: 5%;
    overflow: hidden;
    background: #FF6C01;
    box-shadow: 0px 0px 3px #FF6C01;
    border-radius: 5px;
    border-color: #FF6C01;
    color: white;
    font-size: 0.75rem;
    line-height: 1.6rem;
    text-align: center;
}

.card-bottom-flex {
    display: flex;
    justify-content: space-between;
}

.card-item:hover .basket{
    height: 10%;
}

.card-item path:hover {
    fill: #69A042;
}

.about-partner {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
}

h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #999999;
}

.about-partner p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.block-basket, .count {
    display: flex;
    justify-content: space-between;
}

h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 1rem;
}

.block-basket ul, .delivery {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-left: 17px;
}

.block-basket li {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #979797;
}

.count div {
    margin-right: 0.5rem;
}

.block-basket-btn {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    margin: 1rem 0;
    background: #FF6C01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    line-height: 1.6rem; 
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 992px){
    .header-main {
        flex-direction: column;
    }

    .card-main {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .second-nav {
        display: flex;
        flex-direction: column;
    }

    .card-item {
        width: 45%;
    }

    .card-item:hover .basket{
        height: 10%;
        line-height: 1.8rem;
    }

    .card-main-right {
        width: 70%;
    }
}