@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@500;600;700&display=swap');

html {
    --font-Rosario: 'Rosario', sans-serif;
}

body, ul {
    margin: 0;
    padding: 0;
    font-family: var(--font-Rosario);
    font-weight: 700;
    overflow-x: hidden;
}

a {
   text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    z-index: 1;
}

.header__navigator {
    align-items: center;
    width: 90%;
    padding-right: 1rem;
}

.header__navigator ul {
   display: flex;
   justify-content: end;
}

li {
   list-style: none;
}

.header__navigator a {
   padding: 0 1rem;
   color: white;
   transition: all 1s;
}

.header__logo {
   display: block;
   text-align: left;
   width: 10%;
   margin: 0;
   height: 5rem;
}

.logo {
   height: 5rem;
}

.header__navigator-item {
    font-style: italic;
    font-size: 1rem; 
}

/* main {
    margin-left: 20%;
    margin-right: 20%;
}
*/

.screen-one, .screen-two, .screen-three {
   min-height: 85vh;
   width: 100%;
   margin: 0 auto;
}

.screen-one-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin: 1rem;
}

 .side-photo-one, .side-photo-two {
   width: 90%;
 }

 .center-photo-one, .center-photo-two, .center-photo-three, .center-photo-four {
   width: 90%;
 }

 .padding {
   padding-top: 1rem; 
   padding-bottom: 1rem;
 }

 .animation-side-left {
    animation: animation-left ease-in 2s
 }

 .animation-side-right {
    animation: animation-right ease-in 2s
 }

 .animation-center-left {
    animation: animation-left ease-in 1s
 }

 .animation-center-right {
    animation: animation-right ease-in 1s
 }

 @keyframes animation-left {
    from {transform: translateX(-150%);}
    to {transform: translateX(0%);}
 }

 @keyframes animation-right {
    from {transform: translateX(+150%);}
    to {transform: translateX(0%);}
 }


 .screen-two-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 100%;
}

.screen-two-right-side {
   width: 50%;
}

.screen-two-right-side > img {
   width: 100%;
}

 .screen-two-wrap-img {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 50%;
   position: relative;
 }

 .screen-two-item {
   width: 30%;
   position: absolute;
   top: -6rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
 }

 .img-size {
   width: 100%;
 }

 .one {
   animation: circle-animation 8s linear infinite;
   animation-delay: -2s;;
 }

 .two {
   animation: circle-animation 8s linear infinite;
   animation-delay: -4s;;
 }

 .three {
   animation: circle-animation 8s linear infinite;
   animation-delay: -6s;;
 }

 .four {
   animation: circle-animation 8s linear infinite;
   animation-delay: -8s;;
 }

 .round-text {
   font-style: italic;
   font-size: 1.5rem;
   text-align: center;
   margin-top: 0rem;
 }

 @keyframes circle-animation {
   0% {
      transform: rotate(0deg) translateX(100%) rotate(0deg);
  }
  100% {
   transform: rotate(360deg) translateX(100%) rotate(-360deg);
   }
 }
 
.screen-three-header {
   font-weight: 700;
   font-size: 4rem;
   text-align: center;
   margin: 1rem 0 1rem 0;
}

.screen-three-container {
   display: flex;
   justify-content: space-between;
}

.team-img {
   width: 20%;
   position: relative;
   margin-right: 1rem;
   display: flex;
   justify-content: center;
}

.team-img img {
   width: 100%;
}

.screen-three-container:hover div.team-img {
   opacity: 0.6;
   background: rgba(0,0,0,.2);
   border-radius: 26px;
}

.screen-three-container div.team-img:hover {
   opacity: 1;
}

.team-images-text {
   position: absolute;
   bottom: 0;
   height: 0;
   margin: 0;
   width: 100%;
   overflow: hidden;
   font-weight: 400;
   font-size: 3rem;
   text-align: center;
   color: #fffafa;
   background-color: rgba(163, 83, 10, 0.7);
   border-radius: 0 0 26px 26px;
 }

.team-img:hover p {
   height: 20%;
   transition: 1s;
   padding-top: 1.5rem;
}

.screen-four {
   min-height: 66vh;
   width: 100%;
   margin: 1rem 4rem 0 4rem;
}
 
.screen-four-main {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.screen-four-main-left {
   display: block;
   width: 40%;
}

.screen-four-header {
   font-size: 2rem;
   font-style: italic;
   font-weight: 700;
   text-align: center;
}

.form {
   background-color: #E5E5E5;
}
.form-top {
   display: flex;
   justify-content: space-between;
   margin: 2rem;
   padding-top: 2rem;
}

.form-bottom {
   display: flex;
   justify-content: space-between;
   margin: -2rem 2rem 2rem 2rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.form-text {
   border: none;
   font-size: 1.25rem;
   font-weight: 700;
   padding: 0.5rem;
   width: 45%;
}

textarea {
   font-size: 1.25rem;
   font-weight: 700;
   padding: 0.5rem;
   width: 100%;
   height: 7rem;
   border: none;
   font-family: var(--font-Rosario);   
}

.map {
   width: 40%;
   flex-basis: 45%;
   
 }

 .map iframe {
   width: 90%;
   max-height: 25rem;
 }
 
 footer {
   display: flex;
   justify-content: space-between;
   font-style: italic;
   width: 90%;
   margin-left: 1.5rem;
 }

 .footer-text {
   font-weight: 600;
   font-size: 1.2rem;
   text-align: center;
 }

 footer > div p {
   margin: 0.4rem;
 }

 .font-style-normal {
   font-style: normal;
   font-weight: 700;
 }

 h3 {
   margin-top: 0rem;
 }

 .links {
   display: flex;
   flex-direction: column;
 }

 .links img {
   width: 15px;
 }

@media screen and (max-width: 768px) {
   .screen-one, .screen-two, .screen-three, .screen-four{
      height: auto;
   }
   
   .screen-one-container, .screen-three-container, .screen-four-main{
      flex-direction: column;
      align-items: center;
   }

   .side-photo-one, .center-photo-two, .center-photo-four{
      animation: animation-left ease-in 1s;
   }

   .center-photo-one, .center-photo-three, .side-photo-two{
      animation: animation-right ease-in 1s;
   }

   .screen-two-right-side {
      overflow: hidden;
      width: 0%;
   }
   .screen-three-header {
      font-size: 3rem;
   }

   .team-img {
      margin-bottom: 1rem;
   }
   
   .team-img:active p {
      height: 20%;
      transition: 3s;
      padding-top: 1.5rem;
   }
   
   .screen-four-main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   }

   .screen-four-main-left {
      width: 80%;
   }

   .map {
      width: 40%;
   }

   .map iframe {
      width: 200%;
      height: 30rem;
    }

   footer {
      margin: 0 0 3rem 0rem;
      padding: 1rem 2rem 0 2rem;
      width: 90%;
   }
}

@media screen and (max-width: 992px) {
   .screen-one, .screen-two, .screen-three{
      height: auto;
   }

   .screen-one-container {
      flex-wrap: wrap;
      justify-content: center;
   }

   .animation-side-left, .animation-side-right {
      width: 33%;
   }

   .side-left, .side-right {
      width: 35%;
   }

   .screen-three-container {
      flex-wrap: wrap;
      justify-content: center;
   }

   .screen-one-container div:nth-child(1) {
      order: 2;
      padding: 0.5rem;
   }

   .team-img {
      width: 35%;
      margin: 1%;
   }

   .animation-side-left, .center-photo-one, .center-photo-two{
      animation: animation-left ease-in 1s;
   }

   .animation-side-right, .center-photo-three, .center-photo-four{
      animation: animation-right ease-in 1s;
   }

   .side-photo-one, .side-photo-two {
      width: 100%;
      margin-top: 1rem;
    }
   
    .screen-two-container, .screen-four-main {
      flex-direction: column;
   }

   .screen-two-right-side {
      order: 1;
   }

   .screen-two-wrap-img {
      width: 100%;
      min-height: 50vh;
      margin-top: 30rem;
   }
   .img-size {
   width: 100%;
   }

   .screen-four {
      min-height: 10vh;
      margin: 0;
   }

   footer {
      margin: 0 0 3rem 1rem;
      padding: 1rem -1rem 0 5rem;
    }

    .screen-four-main {
      min-height: 60vh;
    }
   .map {
      order: 2;
      margin-left: -20rem;
   }
   
   .map iframe {
      width: 200%;
      height: 20rem;
    }

}
