
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap');

html {
    --orange: #FFB742;
    --black: #212529;
    --font-Inter: 'Inter', sans-serif;
    --font-Roboto: 'Roboto', sans-serif;
    --font-Work-Sans: 'Work Sans', sans-serif;
    --font-Poppins: 'Poppins', sans-serif;
    --font-size: 10px;
    --dark-grey: rgba(255, 255, 255, 0.08)

}

body, ul {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1,8rem;
}

.header__navigator {
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
    text-transform: capitalize;
    }

.header__navigator a {
    color: white;
    font-weight: 600;
    transition: all 1s;

}

.header__navigator a:hover {
    color: var(--orange);
}

.header__navigator + div > a, .description-block-btn {
    color: var(--black);
    text-align: center;
    width: 121px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    display: inline-block;
    padding: 10px 0;
    border-radius: 50px;
        
}

.title {
    margin: 5%;
    text-align: center;
    text-transform: capitalize;
}

.title-text-normal {
    font-family: var(--font-Inter);
    color: white;
    font-size: 2rem;
    margin-bottom: 0.8em;
}

.title-text-big {
    font-family: var(--font-Inter);
    color: white;
    font-size: 3rem;
    margin-bottom: 1em;
}

.title-text-small {
    font-family: var(--font-Inter);
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1em;
    font-weight: 400;  
}

.title-text-underline {
    color: var(--orange);
    text-decoration: underline;
}


.main-blocks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20rem;
}

.card-wrapper {
    height: 120px;
    width: 30%;
    background-color: #292B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .5s;
}

.card-wrapper:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    border-radius: 10px;
}

.card-description {
    text-align: center;
    color: white;
}

.card-text {
    text-align: center;
    font-family: var(--font-Inter);
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--orange);
}

.card-wrapper:hover .card-text, .card-wrapper:hover .card-description {
    color: var(--black);
}

.description-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.main-photo {
    width: 50%;
}

.description {
    width: 50%;
}

.description-btn {
    color: var(--orange);
    font-family: var(--font-Poppins);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 9em;
    border: 2px var(--dark-grey);
    display: inline-block;
    padding: 10px 0;
    background: var(--dark-grey);
    border-radius: 50px;
    letter-spacing: 0.06rem;
}

.description-title {
    font-family: var(--font-Roboto);
    color: white;
    font-size: 2.7rem;
    margin-bottom: 0.2em;
}

.description-text {
    font-family: var(--font-Poppins);
    color: white;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.06rem;
    margin-bottom: 3.5em;
}

.description-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.links-img {
    display: flex;
    flex-wrap: wrap;
}

.link-item {
    height: 50px;
    width: 50px;
    border: 2px var(--dark-grey);
    background: var(--dark-grey);
    display: block;
    text-align: center;
    border-radius: 7px;
    padding: 1.1em;
    margin: 0.5em;
    margin-bottom: -0.2em;
    transition: all 0.2s;
}


.links-img > .link-item:hover {
    background: rgba(255, 183, 66, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;   
}

.works-block {
    text-align: center;
    margin-left: 6%;
    width: 90%;
    margin-bottom: 10%;
}


.works-block-navigator {
    list-style: none;
    display: flex;
    width: 55%;
    justify-content: space-around;
    font-family: var(--font-Poppins);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 24%;
    }

.works-block-navigator a {
    color: white;
    font-weight: 600;
    transition: all 2s;
}

.works-block-navigator a:hover {
    color: var(--black);
    text-align: center;
    width: 200px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    display: inline-block;
    border-radius: 3px;
}

.works-block-photo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.works-block-photo-group1 {
    display: block;
}

.testimoniaks-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
    margin-top: 3rem;
    background-color: white;
    width: 30%;
}

.mark {
    margin-top: 5%;
    margin-left: -50%;
    margin-bottom: 5%;
}

.mark-block {
    padding: 1.5rem;
}

.description-block img {
    height: 100%;
}

.designer {
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-left: -1rem;
}
.testimoniaks-text {
    font-family: var(--font-Poppins);
    font-weight: 400;
    text-align: left;
    padding-bottom: 1rem;
    margin: 0;
}

.testimoniaks-head {
    font-family: var(--font-Poppins);
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.testimoniaks-small-text {
    font-family: var(--font-Poppins);
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin: 0;
}

footer{
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-around;
    padding: 10rem 5rem 7rem 5rem;
}
.footer-h1{
    color: var(--orange);
    font-size: 1.6rem;
}
.footer-h2{
    font-family: var(--font-Work-Sans);
    color: #D4D4D4;
    font-weight: 600;
    font-size: 1rem;
    padding-top: 1rem;
}
footer ol{
    list-style: none;
    margin: 0;
    line-height: 2.2rem;
}
footer ol li a{
    font-family: var(--font-Work-Sans);
    font-weight: 500;
    font-size: 1.1rem;
    color: #7B7B7B;
    margin-top: 0.8rem;
}
.footer-nav{
    font-family: var(--font-Work-Sans);
    font-weight: 700;
    font-size: 2.1rem;
    color: white;
    margin-bottom: 0.8rem;
}

