@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
    --font-Work-Sans: 'Work Sans', sans-serif;
}

body {
    margin: 0 auto;
}

.background-card {
    width: 100%;
    border-radius: 50px;
    background-color: #FFB084;
}

section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 3fr);
    gap: 3rem;
    padding: 3rem;
}

section div{
    background-color: #ffffff;
    box-shadow: 15px 15px #000000;
    border-radius: 40px;
    font-family: var(--font-Work-Sans);
    display: flex;
    flex-direction: column;
}

section div:nth-child(1) {
    grid-row: 1/4;
   }

section div:nth-child(2) {
    grid-row: 4/5;
}

section div:nth-child(3) {
    grid-column: 2/4;
}

section div:nth-child(4) {
    grid-column: 2/3;
}

section div:nth-child(5) {
    grid-row: 3/5;
}

section div:nth-child(6) {
    grid-row: 2/4;
}
section div:nth-child(7) {
    grid-row: 4/5;
}

.first-minicard {
    padding: 1rem;
    align-items: center;
}

.first-minicard-header {
    text-align: center;
    box-shadow: none;
    padding-bottom: 1rem;
}

.first-minicard-header h1 {
    font-weight: 700;
    font-size: 46px;
}

.first-minicard-header img {
   width: 200px;
}

.first-minicard-text {
    display: block;
    justify-content: space-between;
    box-shadow: none;
    font-size: 24px;
    padding-left: 2rem;
}

.first-minicard-text span {
    font-weight: bold;
}

.second-minicard {
    padding: 2rem;
    font-weight: 700;
    font-size: 36px;
}

.other-minicard {
    padding: 0rem 2rem 1rem 2rem;
    font-weight: 400;
    font-size: 28px;
}

.green {
    box-shadow: 15px 15px #29A71E;
}

.blue {
    box-shadow: 15px 15px #3675B0;
}

.red {
    box-shadow: 15px 15px #E13535;
}

.green-text {
    color: #29A71E;
}

.blue-text {
    color: #3675B0;
}

.red-text {
    color: #E13535;
}

.other-minicard h2 {
    margin-top: 1rem;
}

.other-minicard p, .other-minicard ul {
    margin: 1rem;
}

@media screen and (max-width: 992px) {

section div:nth-child(1) {
    grid-row: 1/5;
    grid-column: 1/3;
   }

section div:nth-child(2) {
    grid-row: 2/3;
    grid-column: 3/3;
}

section div:nth-child(3) {
    grid-row: 5/6;
    grid-column: 1/4;
}

section div:nth-child(4) {
    grid-row: 6/7;
    grid-column: 3;
}

section div:nth-child(5) {
    grid-row: 6/7;
    grid-column: 1/3;
}

section div:nth-child(6) {
    grid-row: 7;
    grid-column: 1/4;
}
section div:nth-child(7) {
    grid-row: 3/4;
    grid-column: 3/3;
}
}

@media screen and (max-width: 768px) {

    section div:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1/4;
       }
    
    section div:nth-child(2) {
        grid-row: 3/4;
        grid-column: 1/4;
    }
    
    section div:nth-child(3) {
        grid-row: 4/5;
        grid-column: 1/4;
    }
    
    section div:nth-child(4) {
        grid-row: 5/6;
        grid-column: 1/4;
    }
    
    section div:nth-child(5) {
        grid-row: 6/7;
        grid-column: 1/4;
    }
    
    section div:nth-child(6) {
        grid-row: 7/8;
        grid-column: 1/4;
    }
    section div:nth-child(7) {
        grid-row: 8/9;
        grid-column: 1/4;
    }
    }
